header {
    display: inline-block;
}

main {
    
}
.h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0px;   
    color: #936f1f;
}

.carro-esportivo {
    box-sizing: border-box;
    width:275.25px;
    padding: 0px;
    margin: 30px 30px;
    border:solid 10px red
}