@font-face {
    font-family: 'blazed';
    src: url(fonts/Blazed.ttf)
}

h1 {
    font-family: Blazed, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4rem ;
    margin: 0px;   
    color: #936f1f;
    font-weight: 100;
}

ul {
    padding: 0;
    margin: 0;
}

nav li {
    border: solid #000 2px;
    display: inline-block;
    background-color: ;
}

li a {
    padding: 10px;
    text-decoration: none;
}

li a:visited {
    color: black;
}

li a:hover {
    background-color: red;
    color: white;
    padding: 3px;
}

li a:active {
    background-color: #880000;
}

.container {
    position: relative;
    left: 250px;
    height: 2000px;
    width: 1000px;
    background-color: rgb(214, 212, 212);

}

.carro-esportivo {
    position: absolute;
    box-sizing: border-box;
    width:275.25px;
    padding: 0px;
    margin: 30px 30px;
    border:solid 10px red
}

.c2-r1 {
    left: 330px;
}

.c3-r1 {
    right: 0;
}